apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: demo

resources:
  - deployment.yaml

commonLabels:
  app.kubernetes.io/managed-by: ksit
  app.kubernetes.io/part-of: multi-cluster-demo
