{{- if .Values.rbac.create -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "ksit.fullname" . }}-manager-role
  labels:
    {{- include "ksit.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ksit.io
  resources:
  - integrations
  - integrationtargets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ksit.io
  resources:
  - integrations/finalizers
  - integrationtargets/finalizers
  verbs:
  - update
- apiGroups:
  - ksit.io
  resources:
  - integrations/status
  - integrationtargets/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - secrets
  - configmaps
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "ksit.fullname" . }}-manager-rolebinding
  labels:
    {{- include "ksit.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "ksit.fullname" . }}-manager-role
subjects:
- kind: ServiceAccount
  name: {{ include "ksit.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
{{- end }}
