apiVersion: v1
kind: Service
metadata:
  name: {{ include "ksit.fullname" . }}-metrics-service
  labels:
    {{- include "ksit.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
  - name: metrics
    port: 8080
    targetPort: metrics
    protocol: TCP
  selector:
    {{- include "ksit.selectorLabels" . | nindent 4 }}
    control-plane: controller-manager
